#search-label {
    color: rgb(250, 251, 250);
   }

h1 {
    text-align: left;
}

#search-field {
    width: 260px;
}

#btn-submit {
    width: 100px;
    text-align: center;
    background: green;
    border-radius: 10%;
    border: 2px solid black;
    
}

#btn-submit:hover {
    opacity: 70%;
}

form {
    margin-bottom: 100px;
}