

.wrapper {
  margin-left: 100px;
  margin-right: 100px;
  background: rgba(221, 216, 216, 0.445);
  
  min-height: 500px;
}

.App {
  background-image: url('./components/movieReel.jpg');
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}


